*.class
*checkstyle-idea.xml
*sonarlint.xml
*/sonarlint
.idea
/selenium/target/classes/executables/drivers/test210003900.png
/selenium/target/classes/executables/drivers/test818292400.png
/selenium/target/classes/executables/drivers/test936153100.png
